/*
font-family: 'Acme', sans-serif;
font-family: 'Courgette', cursive;
font-family: 'Caveat', cursive;
font-family: 'Raleway', sans-serif;
*/

body {
    background-color: #CBC9C7;
    color: #666;
    font-family: "Raleway", sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    margin: 0;
}

h1 {
    color: #ED6A5A;
    font-family: "Acme", sans-serif;
    font-size: 5rem;
    letter-spacing: 4px;
    margin: 0 0 0 15px;
    padding-top: 17rem;
    text-shadow: 2px 2px 5px #888;
}

h2 {
    color: #777;
    font-family: "Caveat", sans-serif;
    font-size: 3.8rem;
    font-weight: 600;
    margin: 0 auto 30px;
    padding-top: 0;
    text-align: center;
}

h3 {
    color: #ED6A5A;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0 0 30px 0;
    text-align: center;
}

h4 {
    color: #666;
    font-weight: 600;
    margin: 0;
    padding: 0;
}


/* ***** TOP NAV BAR ***** */
#navbar {
    background-color: rgba(203, 201, 199, 0.0);
    /* box-shadow: 0 3px 12px #333; */
    display: block;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.links {
    color: #666;
    float: right;
    font-weight: 600;
    margin-right: 10px;
    padding: 20px;
    text-decoration: none;
}

.links:hover {
    color: #ED6A5A;
    text-decoration: dotted underline;
}

#m-logo {
    color: #ED6A5A;
    font-family: "Acme", sans-serif;
    font-size: 3.1rem;
    font-weight: 600;
    margin: 1px 30px;
}
.m-link {
    color: #ED6A5A;
    text-decoration: none;
}


/* ***** TOP WELCOME SCREEN ***** */
#welcome-section {
    /* background: url("/images/sketch1e.jpg") no-repeat left top fixed; */
    background-size: cover;
    height: 100vh;
}

.top {
    background-color: rgba(255, 255, 255, 0.4);
    height: 100vh;
    text-align: center;
    width: 100%;
}

.button {
    border: 2px solid #ED6A5A;
    border-radius: 10px;
    color: #ED6A5A;
    cursor: pointer;
    display: inline-block;
    font-family: "Acme", sans-serif;
    font-size: 1.4rem;
    margin: 4px 2px;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.2s;
}

.button:hover {
    background-color: #ebeae9;
    border-radius: 50px;
    border-style: dotted;
}


/* ***** PROJECT SECTION ***** */
#projects {
    background-color: #333533;
    padding: 80px 3%;
}

.projects-title {
    color: #7B8C89;
    margin: auto;
}

#project-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.sketchbook,
.print-digital {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto 100px;
    max-width: 85%;
}

.sketch-column,
.print-column,
.digital-column {
    flex: 25%;
    margin: auto;
    max-width: 22%;
    text-align: center;
}

.sketch-img,
.project-img {
    margin: 15px 15px;
    width: 100%;
    vertical-align: middle;
    transition: transform .7s ease;
}

.sketch-img:hover,
.project-img:hover {
    transform: scale(1.5);
    transition: transform 0.5s ease;
}


/* ***** MEDIA QUERIES / PROJECT SECTIONS ***** */

@media (max-width: 1200px) {
  .sketch-column,
  .print-column,
  .digital-column {
      flex: 50%;
      max-width: 47%;
  }
  .sketch-img:hover,
  .project-img:hover {
      transform: scale(1.2);
  }
}

@media (max-width: 800px) {
  .sketch-column,
  .print-column,
  .digital-column {
      flex: 100%;
      max-width: 95%;
  }
  .sketch-img:hover,
  .project-img:hover {
      transform: scale(1.1);
  }
}


/* ***** ABOUT SECTION ***** */
#about {
    background-color: #CBC9C7;
    padding: 80px 3% 120px;
}

.about-title {
    background-color: white;
    box-shadow: 5px 5px 12px #666;
    margin: auto 10%;
    padding: 50px;
}

.sail-vid-container {
    text-align: center;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

.video-embed {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 0;
  top: 0;
  left: 0;
}


/* ***** FOOTER / CONTACT SECTION ***** */
#contact {
    background-color: #333533;
    padding: 80px 3% 30px;
}

.contact-text {
    color: #999;
    margin: auto 10%;
    text-align: center;
    user-select: none;
}

#contact-links {
    text-align: center;
}

.contact-link {
    color: #999;
    font-weight: 300;
    text-decoration: none;
}

.contact-link:hover {
    color: #ED6A5A;
    font-weight: 600;
    text-decoration: dotted underline;
}

#copyright {
    color: #666;
    font-size: 1rem;
    margin: 0;
    padding: 30px;
    text-align: center
}

.fas {
    font-size: 1.5rem;
    padding: 15px;
}

.fab {
    font-size: 2rem;
    padding: 35px 15px;
}


/* ***** PORTFOLIO PAGES ***** */

#project-page {
    background-color: #CBC9C7;
    padding: 120px 8% 120px;
}
.project-title {
    background-color: white;
    box-shadow: 5px 5px 12px #666;
    max-width: 1000px;
    margin: 0 auto;
}
.description-container {
    width: 90%;
    margin: auto;
    padding: 30px 0 5px;
}
.image-container {
    width: 100%;
    margin: auto;
}
.hot-tomato-images {
    width: 100%;
    vertical-align: middle;
}
